Importing Pandas

In [0]:
import pandas as pd

Getting the dataset from link

In [0]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link)
df = df[0]

If Borough is not assigned, removing those rows

In [3]:
df = df[df['Borough'] != 'Not assigned'] 
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [4]:
df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Merging rows where Postcode is same

In [6]:
df = df.groupby(['Postcode','Borough'], sort=False).agg( ', '.join)
df.head(10)

                                              Neighbourhood
Postcode Borough
M3A      North York                               Parkwoods
M4A      North York                        Victoria Village
M5A      Downtown Toronto                      Harbourfront
M6A      North York        Lawrence Heights, Lawrence Manor
M7A      Downtown Toronto                      Queen's Park
M9A      Queen's Park                          Queen's Park
M1B      Scarborough                         Rouge, Malvern
M3B      North York                         Don Mills North
M4B      East York          Woodbine Gardens, Parkview Hill
M5B      Downtown Toronto          Ryerson, Garden District

Resetting the index

In [7]:
df=df.reset_index()
df.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park
5      M9A      Queen's Park                      Queen's Park
6      M1B       Scarborough                    Rouge, Malvern
7      M3B        North York                   Don Mills North
8      M4B         East York   Woodbine Gardens, Parkview Hill
9      M5B  Downtown Toronto          Ryerson, Garden District

Shape

In [8]:
df.shape

(103, 3)

##Use the Geocoder package or the csv file to create dataframe with longitude and latitude values

In [9]:
!wget -q -O 'Toronto_long_lat_data.csv'  http://cocl.us/Geospatial_data
df_lon_lat = pd.read_csv('Toronto_long_lat_data.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
df_lon_lat.columns=['Postcode','Latitude','Longitude']

In [11]:
df_lon_lat.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [13]:
new_df = pd.merge(df,df_lon_lat[['Postcode','Latitude', 'Longitude']], on='Postcode')
new_df.head(10)

  Postcode           Borough  ...   Latitude  Longitude
0      M3A        North York  ...  43.753259 -79.329656
1      M4A        North York  ...  43.725882 -79.315572
2      M5A  Downtown Toronto  ...  43.654260 -79.360636
3      M6A        North York  ...  43.718518 -79.464763
4      M7A  Downtown Toronto  ...  43.662301 -79.389494
5      M9A      Queen's Park  ...  43.667856 -79.532242
6      M1B       Scarborough  ...  43.806686 -79.194353
7      M3B        North York  ...  43.745906 -79.352188
8      M4B         East York  ...  43.706397 -79.309937
9      M5B  Downtown Toronto  ...  43.657162 -79.378937

[10 rows x 5 columns]